<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ishudohare.finalpre">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/download"
        android:label="Student Care+"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivityCognitive"
            android:label="Microsoft Cognitive">
            <intent-filter>
                <action android:name="android.intent.action.MAINCognitive" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnalyzeActivity"
            android:label="@string/title_activity_analyze"
            android:parentActivityName=".MainActivityCognitive">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.microsoft.projectoxford.visionsample.MainActivity" />
        </activity>
        <activity
            android:name=".DescribeActivity"
            android:label="@string/title_activity_describe"
            android:parentActivityName=".MainActivityCognitive">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.microsoft.projectoxford.visionsample.MainActivity" />
        </activity>
        <activity
            android:name=".RecognizeActivity"
            android:label="@string/title_activity_recognize"
            android:parentActivityName=".MainActivityCognitive">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.microsoft.projectoxford.visionsample.MainActivity" />
        </activity>
        <activity
            android:name=".helper.SelectImageActivity"
            android:label="@string/select_an_image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scannednotebuttonactivity"
            android:label="@string/title_activity_recognize"
            android:parentActivityName=".MainActivityCognitive">
            <meta-data
                android:name="android.support.scannednotesACTIVITY"
                android:value="com.microsoft.projectoxford.visionsample.MainActivity" />
        </activity>
        <activity
            android:name=".ThumbnailActivity"
            android:label="@string/title_activity_recognize"
            android:parentActivityName=".MainActivityCognitive">
            <meta-data
                android:name="android.support.scanningnotesactivity"
                android:value="com.microsoft.projectoxford.visionsample.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivityNotes"
            android:configChanges="orientation|screenSize"
            android:label="Notes"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAINNOTES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_edit_notes_activity"
            android:parentActivityName=".MainActivityNotes"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ishudohare.finalpre.MainActivityNotes" />
        </activity>
        <!-- </activity> -->
        <activity
            android:name=".AddSubject"
            android:parentActivityName=".Overall" />
        <activity
            android:name=".dates"
            android:parentActivityName=".Overall" />
        <activity
            android:name=".Overall"
            android:label="Today&apos;s Schedule"
            android:parentActivityName=".Overall"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeeklySchedule"
            android:label="All Classes"
            android:parentActivityName=".Overall"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAINUDHAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ishudohare.finalpre.Overall" />
        </activity>
        <activity
            android:name=".MainActivitySchedule"
            android:label="Schedule"
            android:parentActivityName=".WeeklySchedule"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ishudohare.finalpre.WeeklySchedule" />

            <intent-filter>
                <action android:name="android.intent.action.MAINSchedule" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tomorrow"
            android:label="Tomorrow&apos;s Schedule"
            android:parentActivityName=".Overall"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ishudohare.finalpre.Overall" />
        </activity>
        <activity android:name=".xyz" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />

        <activity
            android:name=".settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Overall"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ishudohare.finalpre.Overall" />
        </activity>
        <activity
            android:name=".Udhar"
            android:label="@string/title_activity_udhar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PersonAddUdhar" />
        <activity
            android:name=".udharspecific"
            android:label="Money Management"
            android:parentActivityName=".Udhar" />
        <activity android:name=".AddUdhar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <activity
            android:name=".login"
            android:label="Register!" />
        -
        <activity
            android:name=".reallogin"
            android:label="Student Care+">
            -
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:label="Student Care+"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentCare"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".textselected"
            android:label="textselected">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".udharDbDown"
            android:label="Udhar Records"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name=".MainActivity"
            android:label="To Do List">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
           </activity>


        <activity
            android:name=".Main2Activity"
            android:label="Reminders">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
            </activity>

        <activity
            android:name=".AddReminder"
            android:label="Udhar Records"
           />

    </application>

</manifest>